@model Seva.ViewModels.OfferedServiceViewModel

@{
    ViewData["Title"] = "OfferedService";
    string inactive = "";
    string btnValue = "inactive";

    if (Model.Status == "Inactive")
    {
        inactive = "Inactive";
        btnValue = "active";
    }
}

<h1>@Model.Name <span class="text-danger">@inactive</span></h1>

<br />
<hr />

<div class="tab-pane active" role="tabpanel" id="offeredService" style="box-shadow: 0px 0px 50px 10px black; padding: 3%">
    <div class="row" style="width: 100%">
        @* In deze kolom zit de details list *@
        <div class="col">
            @* Voor elke atribuut zo een row *@
            <div class="row">
                <div class="col"><b>@Html.DisplayNameFor(model => model.Name)</b></div>
                <div class="col">@Html.DisplayFor(model => model.Name)</div>
            </div>
            <div class="row">
                <div class="col"><b>@Html.DisplayNameFor(model => model.Category)</b></div>
                <div class="col">@Html.DisplayFor(model => model.Category)</div>
            </div>
            <div class="row">
                <div class="col"><b>@Html.DisplayNameFor(model => model.Price)</b></div>
                <div class="col">@Html.DisplayFor(model => model.Price)</div>
            </div>
            <div class="row">
                <div class="col"><b>@Html.DisplayNameFor(model => model.DateOfPost)</b></div>
                <div class="col">@Html.DisplayFor(model => model.DateOfPost)</div>
            </div>
            <div class="row">
                <div class="col"><b>@Html.DisplayNameFor(model => model.Description)</b></div>
                <div class="col">@Html.DisplayFor(model => model.Description)</div>
            </div>
            <div class="row">
                <div class="col"><b>@Html.DisplayNameFor(model => model.AverageRating)</b></div>
                <div class="col">@Html.DisplayFor(model => model.AverageRating)</div>
            </div>
            <div class="row" style="margin-top: 5%">
                <div class="col">
                    <input type="button"
                           id="buyOfferedServiceBtn"
                           class="btn btn-primary"
                           value="Buy"
                           style="width: 70%"
                           onclick="location.href = '@Url.Action("PurchaseService", "Market", new {offeredServiceId = Model.Id})'" />
                </div>
                <div class="col">
                    <input type="button"
                           class="btn btn-primary"
                           value="View provider"
                           style="width: 70%;"
                           onclick="location.href = '@Url.Action("ViewProvider", "Home", new {providerId = Model.Provider.Id})'" />
                </div>
            </div>
            
            <hr class="hr" style="width: 90%; float: left"/>
            
            <h4>Provider</h4>
            @* In deze div zit de contact info zelfde manier als de details list *@
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col"><b>@Html.DisplayNameFor(model => model.Provider.FullName)</b></div>
                        <div class="col">@Html.DisplayFor(model => model.Provider.FullName)</div>
                    </div>
                    <div class="row">
                        <div class="col"><b>@Html.DisplayNameFor(model => model.Provider.Email)</b></div>
                        <div class="col">@Html.DisplayFor(model => model.Provider.Email)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            @* In deze div zit de foto carousel *@
            <div class="row">
                <div style="height: 50%" class="carousel slide" data-ride="carousel" id="carousel" data-interval="false">
                    <div class="carousel-inner" role="listbox">
                        @if (Model.Images.Count > 0)
                        {

                            @foreach (var image in Model.Images)
                            {
                                string isActive = "";
                                if (Model.Images.IndexOf(image) == 0)
                                {
                                    isActive = "active";
                                }
                                <div class="carousel-item @isActive">
                                    <img class="w-100 d-block " src="@Url.Content(image)" alt="Slide ImageAsString">
                                </div>
                            }
                        }
                        else
                        {
                            <div class="carousel-item active">
                                <img class="w-100 d-block" src="~/img/image not found.png" alt="Slide ImageAsString">
                            </div>
                        }
                    </div>
                    @if (Model.Images.Count > 1)
                    {
                        //Carousel control buttons
                        <div>
                            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        //Carousel indicators
                        <ol class="carousel-indicators">
                            @foreach (var image in Model.Images)
                            {
                                string isActive = "";
                                int index = Model.Images.IndexOf(image);
                                if (index == 0)
                                {
                                    isActive = "active";
                                }
                                <li data-target="#carousel" data-slide-to="@index" class="@isActive"></li>
                            }
                        </ol>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" style="float: right">&times;</span>
        <div class="modal-content-inner">
            <h4 class="modal-text">Confirm</h4>
            <p class="modal-text">Are you sure you want to set your service <span id="statusConfirmQuestion"></span>?</p>
            @if (inactive == "")
            {
                <p class="modal-text">This will mean that the service will no longer be visible for costumers until you set it back to active.</p>
            }
            else
            {
                <p class="modal-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
            }
            <input id="confirmStatusBtn"
                   class="btn btn-primary"
                   type="button"
                   value="Confirm"
                   onclick="location.href='@Url.Action("SetOfferedServiceStatus", "Admin", new {offeredServiceId = Model.Id})'" />
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0]; // Get the <span> element that closes the modal

        $('#setOfferedServiceBtn').on('click',
            function () {
                modal.style.display = "block";
            });

        //When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        @if(TempData["ReviewIsPosted"] != null)
        {
            @:alertify.success('Review is posted!');
        }
    </script>
}
